.layout {
  display: grid;
  grid-template-columns: 250px 1fr; // Sidebar fijo + resto
  grid-template-rows: 100vh; // altura total
  height: 100vh;
}

.main {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-rows: auto 1fr; // header arriba + contenido abajo
  height: 100vh;
}

.content {
  grid-row: 2;
  overflow-y: auto;
  padding: 1rem;
}
